html {
    font-family: 'Open Sans';
    color: black;
    background-color: whitesmoke;
    min-height: 100%;
    padding-bottom: 200px;
}

.header {
   color: blue;
   text-align: center;
}

.room-nav {
    left: 0%;
    width: 15%;
    position: fixed;
    height: 100%;
    color: blue;
    background: rgba(153, 221, 255, 0.5);
    text-align: center;
}

.new-room-button {
   position: relative;
   margin-left: 0px;
   margin-top: -40px;
   background-color: grey;
   color: white;
   padding: 10px;
   border-style: solid;
   border-color: black;
   border-radius: 10px;
   cursor: pointer;
}
